{% extends "core/base.html" %}
{% block title %}Servicios{% endblock title %}
{% load static %}
{% block content %}
<!-- ===== SERVICES SECTION START ===== -->
<section class="service section" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Servicios</h2>
            </div>
        </div>
        <div class="row">
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                    <h4>Diseño de aplicaciones web</h4>
                    <p>Constante seguimiento del funcionamiento de las aplicaciones web, desde el desarrollo
                        inicial hasta su despliegue. Brindando un mantenimiento y soporte continuo de la
                        aplicación.</p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <h4>Asesoramiento virtual</h4>
                    <p> Brindo una asistencia previa a la hora de concretar cualquier proyecto , para
                        evaluar la arquitectura del sitio, diseño de interfaz de usuario, optimización de
                        contenido, usabilidad y estrategias de SEO. </p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-palette"></i>
                    </div>
                    <h4>Diseño UX</h4>
                    <p>El proceso de selección de diseño es fiel a lo que desee el cliente, se basa en
                        principios sólidos de UX y en la evaluación de factores como la usabilidad, la
                        accesibilidad y la estética visual.</p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h4>Legibilidad en código</h4>
                    <p>Enfoque colocado en buenas prácticas de que garantizan calidad, eficiencia y
                        mantenibilidad de cada proyecto. Es fundamental una buena compresión y legibilidad
                        del código tanto para nosotros, desarrolladores, como para nuestros clientes.</p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <h4>Optimización en motores de búsqueda</h4>
                    <p>Servicio garantizado en SEO y optimización en motores de búsqueda. Se realiza un
                        análisis exhaustivo de palabras clave, optimización de contenido, para aumentar la
                        presencia de los clientes en el sitio web.</p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
            <!-- ====== SERVICE ITEM START ====== -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Costos</h4>
                    <p>Mis servicios no solo son competitivos en términos de costos, sino que superan los
                        términos en calidad y satisfacción del usuario, por lo que tienen una excelente
                        relación precio-calidad.</p>
                </div>
            </div>
            <!-- ====== SERVICE ITEM END ====== -->
        </div>
    </div>
</section>
<!-- ===== SERVICES SECTION END ===== -->
{% endblock %}
